.main {
  padding-top: 64px;
}

.post {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vw;
  width: 100vw;
  background-color: white;
  opacity: 0;
  z-index: 91;
  transition: all 0.5s;

  &.focussed {
    visibility: initial;
    opacity: 1;
  }
}

.collections {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;

  div {
    margin: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .focussed {
    background-color: rgb(47, 79, 79);
  }
}
