.main {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;

  form {
    width: 100%;

    .header {
      width: 100%;
      text-align: center;
    }
  }

  .divider {
    margin-bottom: 24px;
    border-bottom: 2px solid whitesmoke;
    border-top: 1px solid gainsboro;
  }
}
