.header {
  max-width: 50ch;
  margin: 0 auto;
  text-align: center;
}

.main {
  height: calc(100vh - 66px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form {
  width: 100%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;

  .link {
    display: flex;
    width: 100%;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;

    svg {
      height: 20px;
      margin-right: 8px;
    }
  }
}

.formButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
