@media (prefers-color-scheme: dark) {
  .option {
    color: white !important;
  }

  .option:hover {
    background-color: rgba(47, 79, 79, 0.7) !important;
  }

  .option.active {
    color: white !important;
    background-color: rgba(47, 79, 79, 0.8) !important;
  }
}

.main {
  transition: opacity 0.5s ease-out;

  ul {
    margin: initial;
    padding: initial;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      color: black;
      width: 100%;
      text-decoration: none;
    }

    a:active {
      color: inherit;
    }

    a:visited {
      color: inherit;
    }

    .option.active {
      color: black;
      opacity: 1;
      background-color: whitesmoke;
    }

    .optionWrapper + .optionWrapper {
      margin-top: 4px;
    }

    .option {
      opacity: 0.5;
      height: 32px;
      list-style: none;
      padding: 6px 10px;
      transition: all 0.5s;
      border-radius: 6px;
      display: flex;
      align-items: center;
    }

    .option > svg {
      height: 20px;
      margin-right: 16px;
    }

    .option:hover {
      opacity: 1;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    }

    .option:active {
      color: darkgray;
      box-shadow: none;
    }
  }
}
