@import "../../constants.scss";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 6px 12px;
  color: white;
  text-align: center;
  text-decoration: none !important;
  text-decoration-thickness: 0;
  transition: box-shadow 0.2s;
  cursor: pointer;
  width: fit-content;
  max-width: 360px;
  height: 20px;
  margin: auto;
  svg {
    height: 20px;
  }
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  opacity: 0.86;
}

.main:hover {
  opacity: 1;
  border: initial;
}

.main:active {
  box-shadow: none;
}

.disabled {
  border: initial;
  cursor: initial;
  opacity: 0.5 !important;
  box-shadow: none;
}

.disabled:hover {
  transform: initial;
  box-shadow: none;
}

.large {
  padding: 8px 12px;
  font-size: 17px;

  &:hover {
    padding: 8px 12px;
  }

  img {
    height: 20px !important;
  }

  svg {
    height: 22px;
  }
}

.small {
  padding: 2px 4px;

  svg {
    height: 18px;
  }
}

.grey {
  background-color: whitesmoke !important;
  border-color: gray;
  color: black;
}

.blue {
  background-color: dodgerblue !important;
  border-color: blue;
}

.green {
  background-color: limegreen !important;
  border-color: green;
}

.red {
  background-color: hsl(0, 100, 60) !important;
  border-color: red;
}

.purple {
  color: white;
  background-color: slateblue !important;
  border-color: #7c4dff;
}

@media (max-width: $screen-l) {
  .main {
    opacity: 1;
    transition: all 1s ease-out;
  }

  .main.disabled {
    box-shadow: none;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    color: whitesmoke;
  }

  .grey {
    border-color: darkslategray;
    background-color: darkslategray !important;
  }

  .green {
    background-color: olivedrab !important;
  }
}
