.main {
  width: 60ch;

  .progress {
    height: 10px;
    width: 100%;
    margin-top: 24px;
    color: dodgerblue;
    border: none;
    border-radius: 6px;
    background-color: whitesmoke;

    &::-moz-progress-bar {
      background: dodgerblue;
    }
    &::-webkit-progress-value {
      background: dodgerblue;
      transition: width 1s;
    }
  }

  p {
    margin-top: initial;
  }
}

.prompt {
  border-bottom: solid 2px gainsboro;
  background-color: whitesmoke;
  padding: 16px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 16px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: initial;
    font-size: 14px;
    opacity: 0.7;
  }

  .status {
    font-size: 16px;
  }

  .checking {
    color: darkslategray;
  }

  .needed {
    color: darkslategray;
  }

  .damaged {
    color: red;
  }

  .existing {
    color: green;
  }
}

.prompt + .prompt {
  margin-top: 16px;
}

.import {
  padding: 0px 20px;
  display: flex;
  align-items: center;

  b:first-child {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 10px;
    font-size: 1.6em;
    border: 0.5px solid black;
    border-radius: 6px;
    margin: 10px;
    margin-left: initial;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
  }

  b:last-child {
    font-size: 1.5em;
    font-weight: 400;
  }
}

@media (prefers-color-scheme: dark) {
  .prompt {
    background-color: rgba(47, 79, 79, 0.8) !important;
    border-color: darkslategray;
  }

  .import {
    b:first-child {
      background-color: transparent !important;
    }
  }
}
