.emptyActions {
  text-align: center;
}

a {
  text-decoration: none;
}

.main {
  width: 100%;

  .form {
    input {
      margin-bottom: 16px;
    }
  }

  .contacts {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 12px;
  }

  .contact {
    margin: initial;
    width: calc(50% - 56px);
    padding: 24px;
    border-radius: 6px;
    border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -2px 0px inset;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
