.main {
  padding: 0 20px;
}

.searching {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  svg {
    fill: gainsboro;

    path {
      border: 1px solid black;
      box-shadow: rgba(0, 0, 0, 1) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
  }
}
