.main {
  width: 100%;
  max-width: 200px;
  margin: 20px;
  background-color: white;
  border-bottom: 2px solid gainsboro;
  border-radius: 6px;
  padding: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  *:first-child {
    margin-top: initial;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    border-bottom-color: darkslategray;
    background-color: rgba(47, 79, 79, 0.7);
    color: whitesmoke;
  }
}
