@import "../constants.scss";

.columns {
  display: grid;
  margin: auto;
  width: 100vw;
  max-width: 1616px;
  grid-template-columns: 300px 1fr 300px;
  gap: 16px;
}

.rightSidebar,
.leftSidebar {
  display: flex;
  flex-direction: column;
}

.rightSidebar {
  align-items: flex-start;
}

.leftSidebar {
  align-items: flex-end;
}

.hidden {
  visibility: hidden;
}

.progress {
  width: 100%;
}

.main {
  background-color: rgba(255, 255, 255, 0.6);
  height: 100vh;
  width: 100%;
  max-width: 940px;
  border-left: 2px solid gainsboro;
  border-right: 2px solid gainsboro;
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  nav {
    position: absolute;
    top: 8px;
    z-index: 90;
    width: calc(100vw - 676px);
    max-width: 864px;
    min-width: 542px;
    border-radius: 6px;
  }

  .pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    height: 40px;
    margin: auto;

    li:first-child {
      justify-content: flex-start;
    }

    li:last-child {
      justify-content: flex-end;
    }

    li {
      flex: 1;
      justify-content: center;
      display: flex;
      list-style: none;
      opacity: 1;
      transition: opacity 2s;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;

        img {
          align-self: flex-end;
          height: 16px;
          margin-right: 8px;
        }
      }
    }
  }

  .search {
    padding: 3px 8px;
    height: 28px;
    font-size: 16px;
    border-radius: 6px;
    border: initial;
    background-color: gainsboro;
    transition: all 0.5s ease-out;
    opacity: 0.5;
  }

  .search:hover {
    opacity: 1;
  }

  .search:focus {
    opacity: 1;
    outline: initial;
    border-color: dimgrey;
    padding: 5px 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .bottomButtons {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 16px 0;
    height: 40px;
    position: absolute;
    left: 21px;
    bottom: 30px;
    width: 100%;
    max-width: calc(100% - 40px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    a {
      flex: 1;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: inherit !important;
      opacity: 0.5;
      transform: scale(90%);
    }

    a:visited {
      color: inherit !important;
    }

    a.active {
      transform: scale(105%);
      opacity: 1;
    }
  }

  .container {
    align-self: center;
    padding: 20px;
    padding-top: 5em;
    transition: opacity 1s;
    opacity: 1;
    width: calc(100% - 40px);
    max-width: 64ch;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */

    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
  }

  .maxWidth {
    max-width: 100%;
    padding-top: 10em;
  }

  .loading {
    opacity: 0.5;
  }
}

@media (max-width: $screen-l) {
  .main {
    border: initial;
  }

  .leftSidebar,
  .rightSidebar {
    display: none;
  }

  .container {
    padding-bottom: 6em !important;
  }

  .columns {
    display: inline-block;
    margin: initial;
    overflow-x: hidden;
  }

  nav {
    min-width: initial !important;
    max-width: initial !important;
    width: calc(100% - 40px) !important;

    .pages {
      width: 100%;
      padding: 10px 0;
      justify-content: center;
    }
  }

  .bottomButtons {
    position: sticky;
    bottom: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .columns {
    background-color: initial;
  }

  .main {
    border-color: darkslategray;
    background-color: rgba(47, 79, 79, 0.7);
    color: whitesmoke !important;
  }

  .search {
    background-color: darkslategray !important;
    border-color: darkslategray !important;

    &:focus {
      border-color: darkslategray !important;
    }
  }
}
