@import "../../constants.scss";

.main {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color: #000000, $alpha: 0.7);
  backdrop-filter: blur(2px);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  opacity: 1;
  cursor: pointer;
}

.progress {
  transition: all 1s;
  display: none;
  height: 0;
  visibility: hidden;
}

.loading {
  .progress {
    display: initial;
    height: initial;
    visibility: initial;
    width: 100%;
  }

  form {
    opacity: 0.5;
  }
}

.body {
  max-width: 60ch;
  cursor: initial;
  padding: 24px;
  border: darkgray;
  background: gainsboro;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  h2 {
    margin-top: initial;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.maxWidth {
  .body {
    max-width: initial;
  }
}

@media (max-width: $screen-l) {
  .body {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    padding: initial;
    border-radius: initial;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: initial;

    .close {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 99;
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .main {
  }

  .body {
    color: white;
    background-color: rgba(47, 79, 79, 0.8);
  }
}
