@import "../../constants.scss";

.main {
  margin-top: 12px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.logout {
  margin-top: 8px;
  padding: 4px;
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background-color: gainsboro;
  }

  svg {
    margin: auto;
    height: 20px;
    width: 20px;
    color: red;
  }
}

.logoutForm {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .buttons {
    display: flex;
    justify-content: center;

    div {
      margin: initial;
    }

    div + div {
      margin-left: 16px;
    }
  }
}

.storages {
  font-size: 14px;
  a {
    color: gray;
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  .logout:hover {
    background-color: rgba(47, 79, 79, 0.8);
  }
}
