@import "../../../../constants.scss";

.main {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;

  form {
    max-width: 100%;
  }
}

@media (max-width: $screen-l) {
  .main {
    padding: initial;
    padding-top: 24px;
  }
}
