@import "../../constants.scss";

.main {
  max-width: 60ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;

  div:nth-last-child(2) {
    margin-top: 10px;
  }
}

.art {
  width: fit-content;
  max-width: 200px;
  margin: auto;
}

.form {
  margin: auto;

  div:last-child {
    margin-top: 8px;
  }
}

@media (max-width: $screen-l) {
  .art {
    width: calc(100vw - 40px);
  }
}
