.main {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;

  label {
    width: 100%;
  }

  input,
  textarea {
    background-color: initial;
    width: calc(100% - 4px);
    border: initial;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    resize: none;
  }

  input:focus,
  textarea:focus {
    outline: initial;
  }
}

.special {
  padding: 0 8px;
  height: 28px;
  font-size: 16px;
  border-radius: 6px;
  border: solid 2px gainsboro;
  transition: all 0.5s ease-out;
  opacity: 0.5;
}

.special:hover {
  opacity: 1;
}

.special:focus {
  opacity: 1;
  outline: initial;
  background-color: whitesmoke;
  border-color: dimgrey;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media (prefers-color-scheme: dark) {
  .main {
    color: white !important;
  }
}
