@import "../../constants.scss";

.main {
}

.vocabs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 24px;

  div {
    margin: initial;
    margin-left: 16px;
  }
}

.editor {
  border: 1px solid gainsboro;
  border-radius: 6px;
}

.headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bottom {
  border-top: 2px solid gainsboro;
  padding: 10px;
}

.predicates,
.objects {
  padding: 20px;
}
