.main {
  background-color: whitesmoke;
  border: initial;
  border-bottom: solid 2px gainsboro;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 16px;

  color: black;
}

@media (prefers-color-scheme: dark) {
  .main {
    color: white;
    background-color: rgba(47, 79, 79, 0.7) !important;
  }
}
