@import "../../constants.scss";

.main {
  background-color: whitesmoke;
  margin: 0 auto 0 auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 600px;
  height: fit-content;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-out;
  overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: 1;
  }

  &:active {
    box-shadow: none;
    border-width: 0;
  }

  .postBottom {
    height: 0;
    opacity: 0;
    width: 300px;
  }

  &.isFocussed {
    width: max-content;
    flex-direction: row;
    margin: initial;
    box-shadow: initial;
    overflow: hidden;
    opacity: 1;
    border: initial;

    .postBottom {
      position: relative;
      top: 1;
      right: 1;
      opacity: 1;
      transition: all 0.8s ease-out;
      background-color: rgba($color: #fff, $alpha: 0.9);
      height: auto;
      transform: translateY(0px);
    }
  }

  .description {
    background: whitesmoke;
    height: fit-content;
    width: calc(100% - 32px);
    padding: 16px;

    textarea {
      border-radius: 6px;
    }

    div,
    p {
      margin-top: initial;
      margin-bottom: initial;
      font-size: 14px;
    }

    div:first-child {
      margin-bottom: initial;
      textarea {
        font-weight: 600;
        font-size: 18px;
      }
    }

    div:nth-child(2) {
      margin-top: 10px;

      textarea {
        height: 50%;
        font-size: 16px;
      }
    }
  }

  .image {
    transition-property: all 1s;
    margin: auto;
    image-rendering: optimizeSpeed;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: center !important;

    img {
      max-width: 100%;
      max-height: 100%;
      width: initial !important;
      height: initial;
    }
  }
}

.isFocussed:active {
  border-width: 2px !important;
}

.isFocussed {
  .image {
    image-rendering: auto;
    width: calc(100vh - 300px) !important;
    max-width: calc(100vh - 300px) !important;
    max-height: calc(100vh - 300px) !important;
  }
}

.fullSize {
  margin: 20px auto 80px auto;

  .image {
    max-height: 644px;
    max-width: 644px;

    image-rendering: optimizeQuality;
  }
}

@media (max-width: $screen-l) {
  .main {
    width: calc(100vw - 40px);
    overflow: hidden;
    flex-direction: column;

    .image {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      width: calc(100vw - 40px);
      height: calc(100vw - 40px);
    }
  }

  .fullSize {
    flex-direction: column;
    width: 100vw;
    height: 100vw;
    border: initial;
    border-radius: initial;
    margin: 20px 0 80px 0;

    .image {
      max-height: 100vw;
      max-width: 100vw;
    }
  }

  .isFocussed {
    border: initial;
    margin: initial;
    background: transparent;
    width: 100vw !important;
    height: 100%;
    background-color: whitesmoke;
    opacity: 1;
    border-radius: initial;
    flex-direction: column !important;

    .image {
      box-shadow: initial;
    }

    .postBottom {
      flex: 1;
      border-radius: 0;
      background-color: whitesmoke;
      width: 100vw !important;
      border-radius: 0 !important;

      h2 {
        margin: 16px;
        margin-bottom: initial;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    border-color: darkslategray;
  }

  .isFocussed {
    .postBottom {
      background-color: rgba(47, 79, 79, 0.7) !important;
    }

    .description {
      background-color: rgba(47, 79, 79, 0.8) !important;
    }
  }

  .description {
    background-color: rgba(47, 79, 79, 1) !important;
  }
}
