.main {
  width: 120px;
  height: 120px;
  border: 1px solid gainsboro;
  box-shadow: 0;
  transition: all 0.5s;

  .image {
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-size: cover !important;
    image-rendering: pixelated;
  }

  .tools {
    position: relative;
    top: -162px;
    background-color: whitesmoke;
    opacity: 0;
    width: 120px;
    height: 120px;
    transform: translateY(42px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;

    svg {
      width: 20px;
      height: 20px;
    }

    svg:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.main:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor: pointer;

  .tools {
    opacity: 0.8;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    border-color: rgba(0, 0, 0, 0.2);
  }
}