html,
body,
#root {
  -webkit-touch-callout: none;
  user-select: none;
  margin: initial;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-color: whitesmoke;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropzone {
  cursor: pointer;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

.carousel {
  max-width: 940px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  #root {
    background-color: rgba(47, 79, 79, 0.8);
    color: white;
  }

  .dropzone {
    background-color: rgba(47, 79, 79, 0.8) !important;
  }
}
