.actions {
  height: 32px;
}

.message {
  width: 100%;
  max-width: 40ch;
  margin: auto;
  text-align: center;
  margin-top: 20%;

  img {
    opacity: 0.3;
    width: 200px;
  }

  p {
    opacity: 0.5;
  }
}
