@import "../../constants.scss";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  margin-bottom: 20px;
}

.links {
  width: 100%;
  display: flex;
  gap: 16px;

  .content {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    border-radius: 6px;
    transition: all 0.5s;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0);
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    }

    &:active {
      box-shadow: none;
    }

    b:first-child {
      font-size: 2em;
      margin: 24px;
    }

    b:last-child {
      margin: 24px;
      margin-top: initial;
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: $screen-l) {
  .content {
    width: calc((100vw - 40px - 32px) / 3) !important; // (full width - side padding - gaps) / amount of content cells
  }
}