@import "../../constants.scss";

.main {
  height: calc(100vh);
  width: 100%;
  margin: -86px -20px 0 -20px;
  padding: 20px;
  row-gap: 8px;
  
  .progress {
    width: 100%;
  }

  & > div:last-child {
    margin-bottom: 120px;
  }
}

@media (max-width: $screen-l) {
  .main {
    width: 100vw;
    padding: 20px 0;
  }
}
